/** Add css rules here for your application. */

.topPanel {
	background-color			: 	teal;
}

.bgStyle {
	background-color			: 	#F2F2F2;
}

.redBG {
	background-color			: 	red;
}
.yellowBG {
	background-color			: 	yellow;
}


/***********************************************************
*                          MenuBar
***********************************************************/
.MenuBar {
	border						:	1px solid #666;
    margin						: 	0px;
}
.MenuBar table {
    border-collapse             :   separate;
    border                      :   0px solid #eee;
    padding						:	0;
}
.MenuBar .gwt-MenuItem {
    display						:	block;
    float						:	left;
    margin						:	0 3px 0 3px;
    border						:	1px solid #cecece;
    border-top					:	1px solid #d0d0d0;
    border-left					:	1px solid #d0d0d0;

    font-family					:	"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size					:	12px;
    line-height					:	130%;
    text-decoration				:	none;
    font-weight					:	bold;
    color						:	#565656;
    cursor						:	hand;
    cursor						:	pointer;
    padding						:	5px 6px 6px 5px;
}
.MenuBar .gwt-MenuItem-selected {
    background-color			:	#6299c5;
    border						:	1px solid #6299c5;
    color						:	#fff;
}

.topBannerText {	
	color						: 	#FAFAFA;
	font-weight					: 	bold;
}
.postTitle {
	color						:	black;
	font-weight					: 	bold;
	font-size					: 	14pt;
}
.postDescription {
	color						:	black;
	font-style					:	italic;
	font-size					: 	10pt;
}
.postSmall {
	color						: 	#cecece;
	font-size					:	8pt;
}

.postItem {
    border						:	2px solid #cecece;
    border-top					:	2px solid #d0d0d0;
    border-left					:	2px solid #d0d0d0;
}
.commentItem {
    background-color			:	#F9F9F9;
    border-left					:	2px solid #d0d0d0;
}

.commentPanel {
	padding						:	2px 2px 2px 2px;
    border						:	1px solid #cecece;
    border-top					:	1px solid #d0d0d0;
    border-left					:	0px solid #d0d0d0;
}
.postPanel {
	padding						:	2px 2px 2px 0px;
    border						:	1px solid #cecece;
    border-top					:	1px solid #d0d0d0;
    border-left					:	1px solid #d0d0d0;
}

.headerStyle {
	border						: 	5px solid teal;
	font-size					: 	24pt;
	font-weight					: 	bold;
	font-family					: 	Arial;
	color						: 	#FAFAFA;
	cursor						: 	hand;
	cursor						: 	pointer;
}

.dialogPanel {
	margin						: 	5px;
 	position					: 	relative;
 	overflow					: 	scroll;
}

textarea {
    resize						: 	none;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  	margin						: 	15px 6px 6px;
}
/** Set ids using widget.getElement().setId("idOfElement") */
#sendButton {
  	margin						: 	15px 6px 6px;
}

.updateItemButton {
	border						: 	none;
    cursor						:	hand;
	cursor						: 	pointer;
    background-image			:	url('img/updateItem.png');
}

.updateButton {
    cursor						:	hand;
	cursor						: 	pointer;
	border						: 	none;
    background-image			:	url('img/update.png');
    padding						:	0 0 0 0;
}

.editButton {
    cursor						:	hand;
	cursor						: 	pointer;
	border						: 	none;
    background-image			:	url('img/edit.png');
    padding						:	0 0 0 0;
}

.removeButton {
    cursor						:	hand;
	cursor						: 	pointer;
	border						: 	none;
    background-image			:	url('img/remove.gif');
    padding						:	0 0 0 0;
}

.removeCommentButton {
    cursor						:	hand;
	cursor						: 	pointer;
	border						: 	none;
    background-image			:	url('img/remove.gif');
    background-color			:	#F9F9F9;
    padding						:	0 0 0 0;	
}

.watermark {
   color						:	DarkGray;
}
