<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
    <servlet-name>OpenIDServlet</servlet-name>
    <servlet-class>ida.liu.se.kwintesuns.server.OpenIDServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UserServiceImpl</servlet-name>
    <servlet-class>ida.liu.se.kwintesuns.server.MyUserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OpenIDServlet</servlet-name>
    <url-pattern>/_ah/OpenID</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UserServiceImpl</servlet-name>
    <url-pattern>/kwintesuns/myuserservice</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Kwintesuns.html</welcome-file>
  </welcome-file-list>

</web-app>